<!-- <p>App Component</p> -->
<app-header />
<router-outlet />
<!-- <app-header /> -->
<!-- Template Form: -->
<!-- <form (ngSubmit)="showName()" #myForm="ngForm">
  <label>
    <span>Hello {{name}}!!!(Template Form)</span><br>
    <p>Hello {{ name1.value }}!?!?(Reactive Form)</p>
    Name:
    <input type="text" [(ngModel)]="name" name="name" required />
    <input type="submit" value="Submit" [disabled]="!myForm.form.valid" />
  </label><br><br>
// <button (click)="submit()">Submit</button> 
</form>
<hr> -->
<!-- Reactive Form: -->
<!-- <form (submit)="showName1()" >
  <input type="text" [formControl]="name1" name="name1" />
  <input type="text" [formControl]="colour" name="colour" />
  <input type="submit" value="Submit" />
</form>
<hr>
<form [formGroup]="loginForm" (ngSubmit)="login()">
  <p><input type="text" formControlName="username" /></p>
  <p><input type="password" formControlName="password" /></p>
  <p><input type="submit" value="Submit" [disabled]="!loginForm.valid"/></p>
  <input type="button" value="Reset" (click)="loginForm.reset()" />
</form>

<span>Login name: {{ loginForm.value.username }}</span><br> -->
  
<!-- <app-add-note />
<app-notes-list /> -->